*{
    text-decoration: none;
}
.DivMayor{
    background-color: rgb(0, 0, 0);
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgb(85, 85, 85);        
}


.DivImg{
    margin-top: 8px;
    display: flex;
    padding-left: 50px;
    left:50px;   
}   

.DivAct{
    padding-right: 40px;
    display: flex;
    padding-top: 4px;
    color: white;
}

.DivSearch{
    padding-right: 50px;
    align-self: center;
}