.Background{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-image:url('https://wallpaperaccess.com/full/1860753.jpg'); 
    overflow: scroll;
    
}

.Loader{
    display: flex;
    justify-content: center;
    padding-left: 560px;
}

.Cards{
    padding-top: 50px;
    font-size: 26px;
    color: white;
    display:grid;    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding-left: 5%;
    padding-bottom: 150px;
}

.Btn{
    border-radius: 15px;
    padding: 5px;
    height: 3rem;
    font-size: 15px;
    width: 8rem;
    margin: 20px;    
    background-color:black;
    color: white;
    font-family: 'Antonio', sans-serif; 
}

.Btn:hover{
    background-color:rgba(249, 249, 249, 0.318);
    transition:background-color 3s ease 0s,background-color 1s ease-out 0s;
    cursor: pointer;     
}

    
