
.Background{
    height: 100vh;
    background-color: rgb(255, 255, 255);    
    background-size:cover;
    background-image:url('https://wallpaperaccess.com/full/1860753.jpg'); 
    background-attachment: fixed; 
    overflow: scroll;
    align-items: center;
}
.Filters{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 19px;
    margin-bottom: 10px;
}

.Filtersss{
    border-bottom: 150px;
    height: 150px;
}


.Load{
    font-size: 80px;
}

.Cards{
    padding-top: 50px;
    font-size: 26px;
    color: white;
    display:grid;    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding-left: 5%;
    padding-bottom: 150px;
}