.Cardback{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: transparent;
    border-radius: 15px;
    width: 350px;
    height: 450px;
    border: 4px solid black;
    max-height: 370px;
    box-shadow: 1px -1px 19px 8px rgba(0,0,0,1);
    backdrop-filter: blur(7px);
}

.Cardback:hover{
    background-color: rgba(249, 249, 249, 0.318);
    transition:background-color 3s ease 0s,background-color 1s ease-out 0s;
}

.NNombre {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Antonio', sans-serif; 
}

.Nombre{    
    font-size:26px;
    text-decoration: none;
    color: white;
    margin-top: 15px;
    font-family: 'Antonio', sans-serif; 
}


.Image{
    margin-bottom: 30px;
    border-radius: 50px;

}

.Continente{
    font-size: 20px;
    height: 20%;
    color: white;
    font-family: 'Antonio', sans-serif; 
}