.Contenedor{
    background: linear-gradient(to right, transparent, rgba(45, 45, 45, 0.233)); 
    display: flex;
   
}
.Nav{
width: 100%;

}

.Pag{
    display: inline-block;
    padding: 0;
    margin-bottom: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 40%;
    margin-right: 40%;
}

.Li{
    display: inline;
    border-radius: 5px;    
    
}

.num{   
    float: left;
    font-size: 20px;
    padding: 8px 12px;
    margin-right: 1px;
    margin-left:5px;    
    border: solid 1px black;
    border-radius: 8px;
    flex-wrap: wrap;
    backdrop-filter: blur(20px);
    background-color:black;
    color: white;
}

.num:hover{
    background-color:rgba(249, 249, 249, 0.318);
    transition:background-color 3s ease 0s,background-color 1s ease-out 0s;
    cursor: pointer;
}