.divMayor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    background-size: cover;
    background-image:url('https://images.ecestaticos.com/gX65a8RCnHIW0FN7tUQaB_YgeKs=/1x67:1253x769/1600x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fcd1%2F58c%2F368%2Fcd158c368dc7be563cef8eb4bd65071b.jpg');
}
.Titulo{
    color: white;
    font-size: 50px;
    /* background-color: rgba(30, 30, 30, 0.692); */
}

.stiBtn {
    background-color: #949494; /* Green */
    border: solid 1px rgb(30, 30, 30);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;    
}

.ubiBtn{

}